/* button and rounded button styles */
.button{
    border: none; 
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 20%;
    height: auto;
}

.rounded{
    border-radius: 25px;
}

/* style for the register now button */
.register{
    background-color: D36C5A;
    color: white;
    font-size: 120%;
}

/* syle for bats */
.bat{
    text-align: right;
}

/* style for witch and sponsors */
.witch_sponsor{
    display: flex;
}

/* to do
figure out how to display the sponsors and the hat in the center
*/
.witch_sponsor > *{
    /* width: 20%; */
    justify-content: center;
    /* margin: 10px; */
}

.sponsor_logos{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.sponsor_logos > div{
    margin: 24px;
    border: 1px solid #777;
    background-color: 66B6CC;
}

/* countdown section */
.countdown{
    text-align: center;
    color: black;
}

.time{
    font-size: 400%;
    font-weight: 300%;
}

.bucket{
    text-align: right;
}
