* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Background gradient */

body {
    background: linear-gradient(180deg, rgba(32,32,76,1) 55%, rgba(229,229,235,1) 100%);
}

/* Graveyard image */

header {
    background: url(../img/landing-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 75% 25%;  
}

/* Bats image */

.bats {
width: 15%;
margin-left: 200px;
}

/* Logo styling */

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    color: white;
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

/* Align hackathon information to the center */

.hack-info {
    text-align: center;
    margin-bottom: 4em;
}

/* Heading Styling */

h1 {
    color: white;
    font-size: 100px;
}

h3 {
    color: white;
    font-size: 50px;
    font-weight: 200;
    margin-top: 1em;
    
}

/* Register button styling */

.registerbtn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 23px;
}

.registerbtn {
    background: rgb(197, 106, 73);
    height: 60px;
    width: 190px;
    border-radius: 12px;
    border: none;
    margin-top: 3em;
    margin-bottom: 1em;
}

.registerbtn:hover {
    border: solid 3px rgb(218, 218, 57);
}

.byte {
    display: flex;
    justify-content: space-between;
}

/* Float animation for byte ghosts */

.ghost-1, .ghost-2 {
animation: float 2s infinite ease-in-out;
z-index: 999;
pointer-events: none;
width: 226.16px;
height: 246.71px;
}

@keyframes float {
    50%{
        transform: translateY(-30px);
      }
}

/* Side nav ghost animation */

.ghost-3 {
    animation: sidefloat 4s linear infinite alternate;
}

@keyframes sidefloat {
    0% {
        transform: translateY(-30px);
    }
    50% {
        left: 0%;
        transform: translateX(140%);
      }
    }

    /* Navigation icons animation */

    #mySidenav a img:hover {
        animation: move 3s;
    }

    @keyframes move {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }
        10% {
             transform: translate(-1px, -2px) rotate(-1deg);
        }
        20% {
            transform: translate(-3px, 0px) rotate(1deg);
        }
        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }
      
    }

/* Navigation Links */

#mySidenav a {
   padding: 25px; 
   width: 100px;
   font-size: 25px; 
   font-weight: bold;
   color: white;
  } 
  
#mySidenav a img {
  height: 90px;
  width: 100px;
}

div .ghost-3 {
    padding: 10px;
    height: 100px;
}

/* sidebar menu */

.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 30px; /* content 60px from top */
    transition: 0.5s; /*slide effect */
  }
  
  .sidebar a {
    display: block;
  }
  
  /* close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* open button */
  .openbtn {
    cursor: pointer;
  }
  
  /* Responsive Layout */
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  